# MacOS
.DS_Store

# Python
__pycache__/
*.pyc
*.egg-info
.ipynb_checkpoints
src/pysparkplug/_version.py

# VS Code
/.vscode/
/*.code-workspace

# Docs
/docs/build
/docs/api/

# Coverage
.coverage*
coverage.xml
